<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger site-navigation">
        <!-- <a class="page-link" href="/">home</a> -->

        {% for sitePage in site.pages %}
        {% if sitePage.include_in_header == true %}
          <a class="page-link" href="{{ sitePage.url | prepend: site.baseurl }}">{{ sitePage.icon }} &nbsp; {{ sitePage.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
</header>
